body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:145px;
  width:275px;
  height:340px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u401 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:10px;
  width:113px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u402 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:14px;
  width:69px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u403 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:14px;
  width:69px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u404 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:14px;
  width:69px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u405 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:145px;
  width:271px;
  height:340px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:448px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:153px;
  width:820px;
  height:448px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:216px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:520px;
  width:90px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u410 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:520px;
  width:90px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u411 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:719px;
  width:89px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
