body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1300px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1300px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:642px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:10px;
  width:76px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:10px;
  width:80px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u145 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:10px;
  width:70px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u146 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:10px;
  width:70px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u147 {
  position:absolute;
  left:163px;
  top:50px;
  visibility:hidden;
}
#u147_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
  background-image:none;
}
#u147_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:14px;
  width:109px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u151 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:14px;
  width:100px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u152 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:218px;
  width:81px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u153 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:14px;
  width:92px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u147_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
  visibility:hidden;
  background-image:none;
}
#u147_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:14px;
  width:100px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u157 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:14px;
  width:100px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u158 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:14px;
  width:106px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u159 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:218px;
  width:82px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u147_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
  visibility:hidden;
  background-image:none;
}
#u147_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:14px;
  width:100px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u163 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:14px;
  width:108px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u164 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:14px;
  width:79px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u165 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:217px;
  width:79px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u166 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:1167px;
  width:73px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u167 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:905px;
  width:605px;
  height:181px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
