body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u591 {
  position:absolute;
  left:0px;
  top:0px;
}
#u591_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1366px;
  height:1696px;
  background-image:none;
}
#u591_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1696px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1696px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:840px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:367px;
  width:19px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u595 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:108px;
  width:103px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u596 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:404px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u597 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:592px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u598 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:508px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u591_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1366px;
  height:1788px;
  visibility:hidden;
  background-image:none;
}
#u591_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1788px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1788px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:886px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:366px;
  width:23px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u602 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:107px;
  width:103px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u603 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:399px;
  width:294px;
  height:399px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u604 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:10px;
  width:113px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u605 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:15px;
  width:80px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u606 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:17px;
  width:64px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u607 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:14px;
  width:69px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
