body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:866px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:866px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:425px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:10px;
  width:113px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u569 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:10px;
  width:62px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u570 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:10px;
  width:62px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u571 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:148px;
  width:29px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
