body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:837px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:837px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:10px;
  width:113px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u484 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:10px;
  width:62px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u485 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:10px;
  width:62px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u486 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:148px;
  width:29px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u487 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:737px;
  width:149px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
