body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:988px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:988px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:486px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:71px;
  width:85px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u823 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:187px;
  width:53px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u824 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:475px;
  width:69px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u825 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:589px;
  width:53px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u826 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:621px;
  width:53px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 142, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:281px;
  width:83px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
