body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:679px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:679px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:332px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:571px;
  width:133px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u735 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:571px;
  width:133px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
