body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:832px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:832px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:408px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:10px;
  width:113px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u786 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:55px;
  width:54px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u787 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:516px;
  width:103px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u788 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:10px;
  width:44px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u789 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:10px;
  width:55px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u790 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:14px;
  width:65px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
