body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:961px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:961px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:472px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:236px;
  width:165px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u763 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:236px;
  width:165px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u764 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:236px;
  width:165px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u765 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:236px;
  width:165px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u766 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:15px;
  width:69px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u767 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:496px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
