body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1059px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1059px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:522px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:736px;
  width:103px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
