body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
}
#u689_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1366px;
  height:1553px;
  background-image:none;
}
#u689_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1553px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1553px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:384px;
  width:43px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u693 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:384px;
  width:43px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u694 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:384px;
  width:32px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u695 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:470px;
  width:108px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u689_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1366px;
  height:1553px;
  visibility:hidden;
  background-image:none;
}
#u689_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1553px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1553px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:384px;
  width:43px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u699 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:384px;
  width:43px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u700 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:384px;
  width:32px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u701 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:471px;
  width:106px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u689_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:1366px;
  height:1553px;
  visibility:hidden;
  background-image:none;
}
#u689_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1553px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1553px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:384px;
  width:43px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u705 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:384px;
  width:43px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u706 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:384px;
  width:32px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u707 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:470px;
  width:105px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u689_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:1366px;
  height:1553px;
  visibility:hidden;
  background-image:none;
}
#u689_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1553px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1553px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:384px;
  width:43px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u711 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:384px;
  width:43px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u712 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:384px;
  width:41px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u713 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:236px;
  width:165px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u714 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:236px;
  width:165px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u715 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:236px;
  width:165px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u716 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:236px;
  width:165px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u717 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:55px;
  width:54px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u718 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:369px;
  width:104px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u719 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:10px;
  width:113px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u720 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:168px;
  width:81px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u721 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:10px;
  width:83px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u722 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:10px;
  width:57px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
