body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:10px;
  width:113px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u588 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:10px;
  width:62px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u589 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:10px;
  width:62px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u590 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:10px;
  width:81px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
