body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:2150px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:2150px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1067px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:10px;
  width:76px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u225 {
  position:absolute;
  left:163px;
  top:50px;
  visibility:hidden;
}
#u225_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
  background-image:none;
}
#u225_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:14px;
  width:109px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u229 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:14px;
  width:100px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u230 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:218px;
  width:81px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u231 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:14px;
  width:92px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u225_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
  visibility:hidden;
  background-image:none;
}
#u225_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:14px;
  width:100px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u235 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:14px;
  width:100px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u236 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:14px;
  width:106px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u237 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:218px;
  width:82px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u225_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
  visibility:hidden;
  background-image:none;
}
#u225_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:14px;
  width:100px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u241 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:14px;
  width:108px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u242 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:14px;
  width:79px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u243 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:217px;
  width:79px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
