body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u766 {
  position:absolute;
  left:0px;
  top:0px;
}
#u766_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1366px;
  height:914px;
  background-image:none;
}
#u766_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:914px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:914px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:449px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:375px;
  width:48px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u766_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1366px;
  height:914px;
  visibility:hidden;
  background-image:none;
}
#u766_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:914px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:914px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:449px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:375px;
  width:48px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u773 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:10px;
  width:113px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u774 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:55px;
  width:54px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u775 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:236px;
  width:165px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u776 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:236px;
  width:165px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u777 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:236px;
  width:165px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u778 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:236px;
  width:165px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u779 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:10px;
  width:74px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u780 {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:10px;
  width:74px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
